.container
{
    position: relative;
    width: 100%;
    height: 330px;
    margin: 0px;
    background-color: black;
    opacity: 0.8;   
}
.container h1
{
    width: 2500px;
    font-size: 170px;
    font-family: Bakery;
    position: absolute;
    top: 0px;
    left: 700px;
    margin-left: 100px;
    color: whitesmoke;
}
.container h3
{
    font-size: 60px;
    font-family: futura;
    font-weight: lighter;
    position: absolute;
    text-align: right;
    top: 0px;
    right: 10px;
    padding: 10px;
    color: lightseagreen;
}
.links
{
    position: absolute;
    width: 300px;
    top: 340px;
    height: 1000px;
    background-color: whitesmoke;
}
.links ul li
{
    list-style-position: outside;
    list-style-type: none;
    position: relative;
    background-color: lightsteelblue;
    top: 250px;
    padding: 20px;
    margin: 40px 0px 20px 50px;
    width: 250px;
    font-family: futura;
    font-size: 40px;
    color: whitesmoke;
    border-top-right-radius: 20px;
    display: block;
}
.links ul li:hover
{
    background-color: lightseagreen;
}
a:link{
    color: whitesmoke;
    text-decoration: none;
}
a:visited{
    color: whitesmoke;
    text-decoration: none;
}
.artwork
{
    position: absolute;
    height: 1300px;
    width: 2300px;
    top: 330px;
    left: 400px;
    right: 0px;
    margin: 0px;   
}
.artwork img
{
    position: absolute;
    right: 200px;
    top: 10px;
    opacity: 0.8;   
}
.text
{
    position: absolute;
    top: 0px;
    width: 600px;
    height: 700px;
    left: 300px;
    margin: 20px;   
}
p
{
    font-family: helvetica;
    font-weight: lighter;
    font-size: 30px;
    padding: 70px;
    border-style: dashed;
    border-color: lightseagreen;
    border-width: thin;
    border-top-right-radius: 30px;
    margin: 30px;
}
footer p
{
    display: block;
    position: absolute;
    top: 2000px;
    bottom: 0;
    border: none;
    margin-left: 650px;
}
footer img
{
    position: absolute;
    top: 2090px;
    bottom: 0;
    left: 1400px;
}