h1
{
    font-family: serif;
    font-size: 30px;
    
}

p2
{
    font-family: monospace;
    font color: darkcyan;
    font-size: 20px;
    }

p3
{
   font-family: monospace;
    font color: darkcyan;
    font-size: 20px; 
}