ul
{
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    
}
li
{
    display: block;
    float: left;
    top: 10px;
    font-family: serif;
    font-size: 20px;
    font color: cadetblue;
    text-decoration: none;
    padding: 15px;
}
li:hover
{
    color: darkcyan;
}
p1

{ position: absolute;
    top: 150px;
    left:550px;
    font-size: 20px;
    font-family: serif;
}
p1:hover
{
    color: darkcyan;
    font-size: 30px;
}
p2

{position: absolute;
    top:150px;
    left:200px;
    font-size: 20px;
    font-family: serif;
   }
p2:hover

{
   color: darkcyan;
    font-size: 30px;
}
p3
{ position: absolute;
    top:150px;
    left:900px;
    font-size: 20px;
    font-family: serif;
}
p3:hover
{
    color: darkcyan;
    font-size: 30px;
}

.Image
{
    float: left;
    margin-left:150px;
    margin-top:200px;
    left:20px;
    top:200px;    
}
.Image:hover
{
     -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
a
{
    text-decoration: none;
    color: black;
}
