#container {
position:absolute;
top:0px;
left:0px;
height:750px;
width:1400px;
background-color:#efe9cb;
}


#quantify {
    position:absolute;
    top:0px;
    left:0px;
    height:300px;
    width:1200px;
}
