 header{
    font-size: 100px;
    text-align: center;
    position: absolute;
    left: 200px;
    top: 10px;
}
    
nav{
    position: absolute;
    left:100px;
    top:150px;
    background-color:#f4e690;
    width: 150px;
    text-align: center;
    height: auto;
    padding: 5px; 
    text-decoration-color: black;
    text-decoration-line: none;
    padding: 5px;
    }
    
h1{
   position: absolute;
    left:290px;
    top:130px;
    width: 750px;
    background-color:#f4e690; 
        
    }
        
p{
    position: absolute;
    left:290px;
    top:190px;
    width: 750px;
    background-color:#f4e690; 
    }
        
img
    {
    position: absolute;
    left:290px;
    top:300px;
    width: 750px;
    background-color:#f4e690; 
    
    }
    
form{
    position: absolute;
    top:150px;
    left:1100px;
    width:170px;
    background-color: #f4e690;
    padding: 5px
}
    
body{
    background-image:url(wallpaper.jpg);
    }

aside{
    float: right;
}