h1 

{ font-family: HipsterishFontNormal;
font-size: 30px;
    text-align: left;
 
}

p
{
    font-size: 40px;
}
table 
{font-family:Moon Flower Bold;
    font-size: 45px;
    margin-top: -90px;
    
}