header{
    font-size: 80px;
    font-style: normal;
    position:absolute;
    top:15px;
    left: 617px;
    text-align: center;
    background-color: black;
    color: white;
    padding:5px;
    font-family: 'Open Sans', sans-serif;
}
h5{ 
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 14.5px;
    position: absolute;
    top: 95px;
    left: 595px;
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  
    }

@import 'https://fonts.googleapis.com/css?family=Open+Sans';

nav{
    font-family: "Lucida Bright",Georgia,serif; 
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    position: absolute;
    top: 155px;
    left: 544px;
    text-align-last: center;
    background-color: black;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

a{
    color: white;
    text-decoration: none;
}

.mySlides{display:none;}

img{
    
    position: absolute;
    top:200px;
    left:225px;
    height:65%;
    width:65%;
    
}

div{
    max-width:200px
}

body{
    
    background-image: url(HTML.png);
}
