h1 {
    text-align: center;
    font-family:verdana;
}

img {
    display: block;
    margin: auto;
       width: 40%;}
img{
position :absolute;
top:150px;
left:400px;
    }

   
       

 


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


th, td {
    padding: 20px;
}

th {
    text-align: middle;
}

table {
    border-spacing: 5px;
}



