 
body {
	
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    background-repeat: no-repeat;
	background-size: cover;
}

 a{
    padding: 125px;
	text-decoration: none;
	color: midnightblue;
    
     
}



  h1 {
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
    color: darkblue;
    text-align:center;
    padding: 50px;
    margin: 0px;
    
}

h4 {
	font-size:30px;
	text-align:center;
	padding-right: 40px;
	color:darkblue;
	font-weight: lighter;
    position: relative;
}

h5 {
	font-size:25px;
	text-align:center;
    padding:50px;
	font-weight: lighter;
    }
#container {    
    
    margin left: auto;
    margin-right: auto;

}

#header {
}

#content { 
	padding:10px; 
}


#nav {
	width: 180px; 
	float :left; 
	padding-top: 20px;
	position:relative;
	margin-left: 20px;
	
	
}

#nav ul {
	list-style-type: none;
}

#nav .selected {
	font-weight: bold;
}

#main {
	width:75%;
	float: center;
	position:static;
	margin-bottom: 20px;
    padding-left: 200px;
    
}

#main ul{
    list-style-type: none;

}

