 
body {
	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 	
}

a {
	text-decoration: none;
	color: darkslategray;
}


#container {    
    
    margin left: auto;
    margin-right: auto;

}

#header {
	text-align: center;
	color: cadetblue;
	font-size: 50px;
	border: 2px solid orange;

}

#content { 
	padding:10px; 
}


#nav {
	width: 15%; 
	float :left; 
	padding-top: 20px;
	position:relative;
	margin-left: 20px;
	
	
	
}

#nav ul {
	list-style-type: none;
}



#main {
	width:60%;
	float: left;
	position: relative;
	margin-bottom: 20px;
	padding: 20px;
	
	
}


	
#about {
	width: 15%; 
	float :left; 
	padding-top: 20px;
	padding-left: 20px;
	position:relative;
	margin-left: 20px;
	
	
	
}


#footer 
{
	clear:both; 
	padding: 10px;
	text-align: left;
	background-color: cadetblue;
	color: whitesmoke;
	
	
}
	
